@import './variables';

.register{
    @include flexColumnCenter();

    .heading{
        width: 100%;
    }

    form{
        @include customFlex(column, flex-start, flex-start);
        padding: 2rem 3rem;
        box-shadow: $box-shadow;
        border-radius: 0.5rem;
        width: 40%;

        .input-field{
            @include inputField();
        }

        .btn{
            @include button($secondaryColor, $secondaryColorLighter);
            margin: 0;
            width: 30%;
        }

        .error{
            @include errorh2();
        }
    }
}

@media(max-width: 768px){
    .register form{
        width: 90%;
    }
    .register form .btn{
        width: 50%;
    }
}