// Color variables
$primaryColor: #1c8d76;
$primaryColorLighter: #248f79;
$secondaryColor: #1dae8d;
$secondaryColorLighter: #21c9a2;
$textColor: #333;
$black: #111;
$transparentWhite: rgba(255,255,255,0.7);

$primaryFont: 'Josefin Sans',sans-serif;

$border: 0.1rem solid rgba(0,0,0,0.2);
$box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);

@mixin flexRowCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin customFlex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin button($backgroundColor, $hoverColor) {
    margin-top: 1rem;
    display: inline-block;
    background: $backgroundColor;
    color: white;
    border-radius: 0.5rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    font-size: 2rem;
    &:hover {
        background: $hoverColor;
    } 
}