@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
// Pages import
@import './variables';
@import './pages/home';
@import './pages/dashboard';
@import './pages/register';
@import './pages/login';
@import './pages/userProfile';
@import './pages/changePassword';
@import './pages/allBlogs';
@import './pages/singleBlog';
@import './pages/createBlog';
@import './pages/myBlog';
@import './pages/allCourses';

// Components import
@import './components/header';
@import './components/spinner';
@import './components/singleComment';
@import './components/blogCard';
@import './components/myBlogCard';
@import './components/modalBox';
@import './components/courseCard';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: $primaryFont;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient($primaryColorLighter, $secondaryColorLighter);
    
}


.container{
    padding-top: 5rem;

    section {
        padding: 4.5rem 7%;

        .heading{
            @include flexRowCenter();
            text-align: center;
            padding: 2.5rem 0;
            font-size: 3.5rem;
            background: $secondaryColorLighter;
            border-radius: 0.5rem;
            color: $black;
            margin-bottom: 1.5rem;
            h1{
                font-size: 4rem;
            }
        }
    }
}

@media(max-width: 991px){
    html{
        font-size: 55%;
    }
}

@media(max-width: 600px) {
    html {
        font-size: 50%;
    }
}
