@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
.home {
  min-height: 100vh;
  background: url("../resources/banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.home .content {
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 5rem;
  max-width: 70rem;
}

.home .content h3 {
  font-size: 4.5rem;
  color: #111;
  text-transform: capitalize;
}

.home .content p {
  font-size: 2rem;
  color: #333;
  padding: 1rem 0;
  line-height: 2rem;
}

.home .content a {
  margin-top: 1rem;
  display: inline-block;
  background: #1c8d76;
  color: white;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;
  cursor: pointer;
  font-size: 2rem;
  border: none;
}

.home .content a:hover {
  background: #1dae8d;
}

@media (max-width: 768px) {
  .home .content {
    max-width: 50rem;
  }
}

.dashboard .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.dashboard .card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 31%;
  height: auto;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.2rem 1.5rem;
}

.dashboard .card-container .card img {
  max-height: 25rem;
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2rem;
}

.dashboard .card-container .card h3 {
  font-size: 2.5rem;
}

.dashboard .card-container .card p {
  font-size: 1.8rem;
  padding: 1.2rem 0;
}

.dashboard .card-container .card a {
  margin-top: 1rem;
  display: inline-block;
  background: #1c8d76;
  color: white;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;
  cursor: pointer;
  font-size: 2rem;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  border: none;
  width: 90%;
}

.dashboard .card-container .card a:hover {
  background: #1dae8d;
}

@media (max-width: 768px) {
  .dashboard .card-container .card {
    width: 48%;
  }
}

@media (max-width: 550px) {
  .dashboard .card-container .card {
    width: 99%;
  }
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register .heading {
  width: 100%;
}

.register form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem 3rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  width: 40%;
}

.register form .input-field {
  margin-bottom: 2rem;
  width: 100%;
}

.register form .input-field h3 {
  font-size: 2rem;
  margin-left: 0.5rem;
  color: #1c8d76;
}

.register form .input-field h3 span {
  font-size: 1.5rem;
  color: #333;
}

.register form .input-field input {
  margin: 1rem 0;
  padding: 1.2rem;
  font-size: 1.7rem;
  color: #333;
  border-radius: 0.5rem;
  border: 0.1rem solid #248f79;
  width: 100%;
}

.register form .btn {
  margin-top: 1rem;
  display: inline-block;
  background: #1dae8d;
  color: white;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;
  cursor: pointer;
  font-size: 2rem;
  border: none;
  margin: 0;
  width: 30%;
}

.register form .btn:hover {
  background: #21c9a2;
}

.register form .error {
  color: #d40202;
  margin-bottom: 1.3rem;
  font-size: 1.7rem;
}

@media (max-width: 768px) {
  .register form {
    width: 90%;
  }
  .register form .btn {
    width: 50%;
  }
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login .heading {
  width: 100%;
}

.login .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 40%;
  padding: 2rem 3rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.login .form-container img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  border: 0.4rem solid;
  border-color: #21c9a2;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login .form-container form {
  width: 100%;
}

.login .form-container form .input-field {
  margin-bottom: 2rem;
  width: 100%;
  margin-bottom: 1.2rem;
}

.login .form-container form .input-field h3 {
  font-size: 2rem;
  margin-left: 0.5rem;
  color: #1c8d76;
}

.login .form-container form .input-field h3 span {
  font-size: 1.5rem;
  color: #333;
}

.login .form-container form .input-field input {
  margin: 1rem 0;
  padding: 1.2rem;
  font-size: 1.7rem;
  color: #333;
  border-radius: 0.5rem;
  border: 0.1rem solid #248f79;
  width: 100%;
}

.login .form-container form .input-field h3 {
  padding: 0;
  margin: 0;
}

.login .form-container form .input-field input {
  border: 0.2rem solid #1c8d76;
}

.login .form-container form .btn {
  margin-top: 1rem;
  display: inline-block;
  background: #1c8d76;
  color: white;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;
  cursor: pointer;
  font-size: 2rem;
  border: none;
  width: 50%;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.login .form-container form .btn:hover {
  background: #1dae8d;
}

.login .form-container h3 {
  font-size: 1.6rem;
  margin-bottom: 1.3rem;
}

.login .form-container h3 span {
  color: #1dae8d;
  text-decoration: underline;
  cursor: pointer;
}

.login .form-container h3 span:hover {
  color: #21c9a2;
}

.login .form-container .error {
  color: #d40202;
  margin-bottom: 1.3rem;
  font-size: 1.7rem;
}

@media (max-width: 768px) {
  .login .form-container {
    width: 90%;
  }
}

.user-profile .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user-profile .profile-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
  margin-top: 2rem;
}

.user-profile .profile-container form .user-info-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 2rem;
  width: 100%;
}

.user-profile .profile-container form .user-info-column h3 {
  color: #1c8d76;
}

.user-profile .profile-container form .user-info-column input {
  width: 100%;
  font-size: 2rem;
  padding: 1.5rem 0;
  border: none;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-color: #1dae8d;
}

.user-profile .profile-container form .user-info-column .disabled-input {
  background: #ececec;
}

.user-profile .profile-container form .btn {
  margin-top: 1rem;
  display: inline-block;
  background: #1c8d76;
  color: white;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;
  cursor: pointer;
  font-size: 2rem;
  border: none;
  width: 50%;
}

.user-profile .profile-container form .btn:hover {
  background: #1dae8d;
}

.user-profile .profile-container .profile-picture {
  margin-top: 2rem;
}

.user-profile .profile-container .profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: -webkit-gradient(linear, left top, right top, from(#1c8d76), to(#21c9a2));
  background: linear-gradient(to right, #1c8d76, #21c9a2);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1.2rem 7%;
}

.header a {
  color: #333;
}

.header a:hover {
  color: whitesmoke;
  background: none;
}

.header .logo {
  color: #333;
  font-size: 3rem;
  margin-right: auto;
  height: 6rem;
}

.header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .logo a img {
  height: 6rem;
}

.header .navbar a {
  margin-right: 2rem;
  font-size: 2.2rem;
  text-transform: capitalize;
}

.header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .icons .icon {
  height: 3rem;
  width: 3rem;
  font-size: 1.2rem;
  text-align: center;
  color: #111;
  margin-left: 0.7rem;
  cursor: pointer;
}

.header .icons .icon:hover {
  color: #fff;
  background: none;
}

.header .icons .user-icon {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-color: #1dae8d;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.header .icons .user-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header #menu-bars {
  display: none;
}

@media (max-width: 991px) {
  .header {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  .header #menu-bars {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    background: #1c8d76;
    display: none;
  }
  .header .navbar a {
    display: block;
    background: #1dae8d;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
  }
  .header .navbar.active {
    display: block;
  }
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  -webkit-animation: spin 1.2s linear infinite;
          animation: spin 1.2s linear infinite;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

.container {
  padding-top: 5rem;
}

.container section {
  padding: 4.5rem 7%;
}

.container section .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 2.5rem 0;
  font-size: 3.5rem;
  background: #21c9a2;
  border-radius: 0.5rem;
  color: #111;
  margin-bottom: 1.5rem;
}

.container section .heading h1 {
  font-size: 4rem;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=index.css.map */