@import '../variables';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@700&display=swap');

.all-blogs{
    @include customFlex(column, flex-start, flex-start);

    #stream {
        margin-left: auto;
        display: none
    }

    .heading{
        width: 100%;
    }

    .content{
        @include customFlex(row, flex-start, flex-start);
        width: 100%;

        .blog-container{
            @include customFlex(column, flex-start, flex-start);
            gap: 1.5rem;
            width: 70%;
            margin-right: 1.1rem;

            .btn{
                @include button($lightColor, $lightColorHover);
                color: gray;
                margin-top: auto;
                transition: all 0.1s linear;
                &:hover{
                    color: whitesmoke;
                }
            }
        }

        .sidebar{
            @include customFlex(column, flex-start, flex-start);
            width: 45rem;
            height: 100%;
            gap: 2rem;
            
            .search-bar{
                @include customFlex(row, center, flex-start);
                width: 100%;
                padding: 1rem 1rem 1.5rem 1rem;
                border: $border;
                border-color: $borderColor;
                box-shadow: $box-shadow;
                input{
                    padding: 1rem;
                    width: 100%;
                    border: 0.1rem solid $lightColor;
                    font-size: 2rem;
                }
                .icon{
                    font-size: 2rem;
                    color: $primaryColor;
                    margin-left: 1rem;
                    cursor: pointer;
                    transition: all 0.2s linear;
                    &:hover{
                        color: $secondaryColorLighter;
                    }
                }
            }

            .category-bar{
                @include customFlex(column, flex-start, flex-start);
                width: 100%;
                padding: 2rem;
                border: $border;
                border-color: $borderColor;
                box-shadow: $box-shadow;
                h3{
                    font-family: 'IBM Plex Sans Hebrew', sans-serif;
                    font-weight: 700;
                    font-size: 2.5rem;
                    color: $secondaryColor;
                    border-bottom: 0.1rem solid $lightColor;
                    width: 100%;
                    margin-bottom: 1.3rem;
                }
                .blog-category{
                    width: 100%;
                    font-size: 2rem;
                    padding: 1.5rem 1rem;
                    border-bottom: 0.1rem solid $lightColor;
                    cursor: pointer;
                    color: gray;
                    transition: all 0.3s ease;
                    &:hover{
                        color: black;
                        padding-left: 2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .all-blogs{
        #stream{
            display: initial;
            cursor: pointer;
            transition: 0.1s linear;
            margin-right: 2rem;
            &:hover{
                color: white;
            }
        }

        .heading{
           .icon{
               margin-left: 2rem;
           }
        }

        .content{
            .blog-container{
                width: 98%;
                .blog-card{
                    img{
                        width: 40%;
                    }
                }
            }

            .sidebar{
                position: absolute;
                right: -45rem;
                transition: all .5s;
            }

            .sidebar.active{
                display: initial;
                position: absolute;
                right: 0;
                background: whitesmoke;
                border-radius: 1.5rem;
                padding: 3rem 0 0 5rem;
                margin-top: -2rem;
                z-index: 1000;
            }
        }
    }
}