@import '../variables';

.change-password{
    @include flexColumnCenter();

    .heading{
        width: 100%;
    }

    form{
        width: 80%;
        box-shadow: $box-shadow;
        padding: 2rem 2.5rem;
        
        .input-field{
            @include inputField();
        }
        .btn{
            @include button($primaryColor, $secondaryColor);
        }
        .error{
            @include errorh2();
        }
    }
}

@media (max-width: 768px) {
    .change-password form{
        width: 95%;
    }
}