@import '../variables';

.home{
    min-height: 100vh;
    background:url('../resources/banner.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;

    .content{
        text-align: center;
        background: $transparentWhite;
        border-radius: 0.5rem;
        box-shadow: $box-shadow;
        padding: 5rem;
        max-width: 70rem;

        h3{
            font-size: 4.5rem;
            color: $black;
            text-transform: capitalize;
        }
        p{
            font-size: 2rem;
            color: $textColor;
            padding: 1rem 0;
            line-height: 2rem;
        }
        a{
            @include button($primaryColor, $secondaryColor);
        }
    }
}

.home.active{
    background: url('../resources/success_banner.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px){
    .home .content{
        max-width: 50rem;
    } 
}
