@import '../variables';

.single-course{

    .heading{
        width: 100%;
    }

    .subtopic-container{
        margin: 0 7%;
        @include customFlex(column, flex-start, flex-start);
        gap: 2rem;

        .add-btn{
            transition: all 0.2s linear;
            padding: 0.75rem 1.5rem;
            font-size: 1.7rem;
            cursor: pointer;
            background: none;
            border: 0.1rem solid $lightColor;
            border-radius: 1rem;
            color: gray;

            &:hover{
                background: $lightColorHover;
                color: whitesmoke;
            }
        }

        .btn{
            transition: all 0.2s linear;
            @include button($secondaryColor, $secondaryColorLighter);

            .icon{
                font-size: 1.7rem;
            }
        }

        .empty-message{
            @include flexColumnCenter();
            align-self: center;
            text-align: center;
            margin: 3rem 0;
            border-radius: 1rem;
            width: 100%;
            padding: 2.5rem 0;
            background: linear-gradient(gray, lightgray);
            color: whitesmoke;
            box-shadow: $box-shadow;
            
            .icon{
                font-size: 5rem;
                margin-bottom: 2rem;
            }

            h3{
                font-size: 3rem;
                margin-bottom: 1rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .single-course {
        margin: 0 -4%;

        .subtopic-container {
            margin: 0 5%;
        }
    }
}

@media (max-width: 500px) {
    .single-course{
        .subtopic-container{
            margin: 0;
        }
    }
}