@import "../variables";

.update-course {
    @include customFlex(column, flex-start, flex-start);

  .heading {
    width: 100%;
  }

  form {
    @include customFlex(column, flex-start, flex-start);
    gap: 2rem;
    width: 100%;
    padding: 3rem 2rem;
    box-shadow: $box-shadow;
    margin-bottom: 2rem;

    .input-field {
      @include inputField();
    }

    .btn {
      @include button($primaryColor, $secondaryColor);
      margin-top: -2rem;
    }
  }

  .content{
    width: 100%;
    @include customFlex(row, flex-start, flex-start);
    flex-wrap: wrap;
    gap: 1.5rem;

    .subtopic-form {
        width: 49%;
    }

    .subtopic-form.list{
        .input-field{
            margin: 0;

            .list-h3{
                text-decoration: underline;
                color: green;
            }
        }
    }
  }

  .back-btn{
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 0.5rem;
    background: $secondaryColor;
    padding: 1.5rem 3rem;
    cursor: pointer;
    color: white;
    &:hover{
        background: $secondaryColorLighter;
    }
  }
}

@media (max-width: 768px) {
    .update-course{
        .content{
            .subtopic-form{
                width: 100%;
            }
        }
    }
}
