@import '../variables';

.course-card{
    @include customFlex(column, flex-start, flex-start);
    width: 32%;
    padding: 2.5rem 2rem;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    transition: all 0.3s ease-in-out;
    background: linear-gradient($lightColor, $lightColorHover);
    cursor: pointer;

    h3{
        font-size: 2.5rem;
        margin-bottom: 1.2rem;
        color: $primaryColor;
    }
    p{
        font-size: 1.8rem;
        color: gray;
    }
    .btn{
        display: none;
        font-size: 2rem;
        padding: 1rem 1.5rem;
        align-self: flex-end;
        margin-top: 2rem;
        background: rgb(14, 95, 14);
        border: none;
        border-radius: 0.5rem;
        color: white;
        cursor: pointer;
    }

    &:hover{
        transform: scale(1.05);
        background: linear-gradient(gray, lightgray);

        .btn{
            display: initial;
        }

        h3{
            color: white;
        }

        p{
            color: whitesmoke;
        }
    }
}

@media (max-width: 768px) {
    .course-card{
        width: 48%;
    }
}

@media (max-width: 500px) {
    .course-card{
        width: 99%;
    }
}
