@import '../variables';

.myblog-card {
    @include customFlex(column, flex-start, flex-start);
    width: 32%;
    box-shadow: $box-shadow;
    padding: 0 1rem 1rem 1rem;
    position: relative;

    .like{
        @include customFlex(row, flex-start, flex-start);
        gap: 0.3rem;
        font-size: 1.7rem;
        background: rgba(0,0,0,0.3);
        border-radius: 1.5rem;
        padding: 0.7rem 2rem;
        color: white;
        position: absolute;
        top: 0;
        margin: 0.5rem 0 0 0.5rem;
    }

    img {
        max-height: 25rem;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 2.5rem;
        color: $primaryColor;
        margin-bottom: 1rem;

        span {
            font-size: 2.3rem;
            color: gray;
        }
    }

    p {
        font-size: 1.8rem;
        color: darkgray;
        margin-bottom: 1rem;
    }

    .date {
        font-size: 1.8rem;
        color: $secondaryColor;
        margin-bottom: 2rem;
    }

    .actions {
        width: 100%;
        @include customFlex(row, flex-start, space-between);
        margin-top: auto;

        button {
            padding: 1rem 2rem;
            font-size: 2rem;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;

            .icon {
                font-size: 1.5rem;
            }
        }

        .edit-btn {
            background: $lightColor;

            &:hover {
                background: $lightColorHover;
                color: white;
            }
        }

        .delete-btn {
            background: pink;

            &:hover {
                background: rgb(201, 152, 160);
                color: white;
            }
        }
    }
}

@media (max-width: 991px) {
    .myblog-card{
        width: 40%;
    }
}

@media (max-width: 768px) {
    .myblog-card {
        width: 48%;
    }
}

@media (max-width: 550px) {
    .myblog-card {
        width: 98%;
    }
}